* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: lightgrey;
    font-family: "Menlo", "Meslo LG", monospace;
}

ul {
    color: lightgrey;
}

li {
    font-family: "Menlo", "Meslo LG", monospace;
}

img {
    height: 100px;
}

a:link {
    color: lightgrey;

}

a:visited {
    color: lightgrey;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
    color: lightgrey;
}
